{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-white" style="text-shadow: 0 0 20px #000;"> YEAHHHHH {{ user.displayName }}</h1>

    <br/>
    <div class="d-inline-block">

        <div class="d-inline-block">
            <form action="{{ path('raffle_web_winner', {'id': raffle.id, 'userId': user.id}) }}" method="POST">
                <button type="submit" class="btn btn-success btn-lg">WINNER!</button>
            </form>

        </div>

        <div class="d-inline-block">
            <form action="{{ path('raffle_web_noshow', {'id': raffle.id, 'userId': user.id}) }}" method="POST">
                <button type="submit" class="btn btn-danger btn-lg">no show :(</button>
            </form>
        </div>
    </div>
{% endblock %}